{% extends "layout.html" %}
{% block title %}Roster App{% endblock %}
{% block page %}Roster App{% endblock %}

{{ super() }}

{% block content %}
        <h5>Welcome {{ user.username }} </h5>
        <div class="row">
                <div class="col s12 m4">
                <form method="POST" action="/shiftReport">
                        <button type="submit" class="btn waves-effect waves-light teal btn-large" style="width: 100%;">Shift Report</button>
                </form>
                </div>
                <div class="col s12 m4">
                <form method="GET" action="/users">
                        <button type="submit" class="btn waves-effect waves-light teal btn-large" style="width: 100%;">User List</button>
                </form>
                </div>
                <div class="col s12 m4">
                <form method="GET" action="/scheduleShift">
                        <button type="submit" class="btn waves-effect waves-light teal btn-large" style="width: 100%;">Schedule Shift</button>
                </form>
                </div>
        </div>
        
        <div class="row">
                <div class="col s12 m4">
                <form method="GET" action="/viewSchedule">
                        <button type="submit" class="btn waves-effect waves-light teal btn-large" style="width: 100%;">Schedule View</button>
                </form>
                </div>
                <div class="col s12 m4">
                <form method="GET" action="/createNewSchedule">
                        <button type="submit" class="btn waves-effect waves-light teal btn-large" style="width: 100%;">Create Schedule</button>
                </form>
                </div>
                <div class="col s12 m4">
                <form method="GET" action="/createNewUser">
                        <button type="submit" class="btn waves-effect waves-light teal btn-large" style="width: 100%;">Create Account</button>
                </form>
                </div>
        </div>
    <form method="POST" action="/autopopulate">
        <label for="strategy">Choose scheduling strategy:</label>
        <select name="strategy" id="strategy">
                <option value="even">Even Distribution</option>
                <option value="minimal">Minimal Days</option>
                <option value="balanced">Day/Night Balanced</option>
        </select>
        <button type="submit" class="btn waves-effect waves-light">Generate Schedule</button>
    </form>
{% endblock %}