{% extends "layout.html" %}
{% block title %}Roster App{% endblock %}
{% block page %}Roster App{% endblock %}

{{ super() }}

{% block content %}
    <h2>Create Schedule</h2>
    <form method="POST" action="/createSchedule">
        <div>
            <label for="name">Schedule Name:</label>
            <input type="text" id="scheduleName" name="scheduleName" required>
        </div>
        <div>
            <select name="user_id" id="user_id">
                <option value="">View existing schedules</option>
                {% for schedule in schedules %}
                    <option>{{ schedule.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn waves-effect waves-light">Create Schedule</button>
        </div>
    </form>
{% endblock %}